@model IEnumerable<Vidly.Core.Domain.Movie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>

<table id="movies" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*  @foreach (var item in Model)
        {
        <tr>
        <td>
        @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.InStock)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Genre.Name)
        </td>
        <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <button class="btn btn-link js-delete" data-movie-id="@item.Id">Delete</button>
        </td>
        </tr>
        } *@
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "title",
                    },
                    {
                        data: "releaseDate",
                        render: function (data) {
                            if (data != null) {
                                var dateCast = new Date(data);
                                return dateCast.toLocaleDateString();
                            }
                            else
                                return "";
                        }
                    },
                    {
                        data: "dateAdded",
                        render: function (data) {
                            if (data != null) {
                                var dateCast = new Date(data);
                                return dateCast.toLocaleDateString();
                            }
                            else
                                return "";
                        }
                    },
                    {
                        data: "inStock"
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data, type, movie) {
                            return "<a href='/movies/details/" + movie.id + "'>Details</a>";
                        }
                    }
                ]
            });
        });
    </script>
}