@model IEnumerable<Vidly.Core.Domain.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Customers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="customers" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSubscribedToNewsLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MembershipType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @* @foreach (var item in Model)
        {
        <tr>
        <td>
        @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.Birthdate)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.IsSubscribedToNewsLetter)
        </td>
        <td>
        @Html.DisplayFor(modelItem => item.MembershipType.Name)
        </td>
        <td>
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
        <button data-customer-id="@item.Id" class="btn link-info js-delete">Delete By Js</button>
        </td>
        </tr>
        } *@
    </tbody>
</table>


@section Scripts {
    <script>
        $(document).ready(function () {
            var table = $("#customers").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                    },
                    {
                        data: "birthdate",
                        render: function (data) {
                            if (data != null) {
                                var dateCast = new Date(data);
                                return dateCast.toLocaleDateString();
                                // return data.toString("MM/dd/yyyy");
                            }
                            else
                                return "";
                        }
                    },
                    {
                        data: "isSubscribedToNewsLetter",
                        render: function (data) {
                            return data == true ? "Yes" : "No";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>Edit</a> | " +
                                "<a href='/customers/details/" + customer.id + "'>Details</a> | " +
                                "<a href='/customers/delete/" + customer.id + "'>Delete</a> | " +
                                "<button class='btn btn-link js-delete' data-customer-id='" + customer.id + "'>Delete by js</button>";
                        }
                    }
                ]
            });

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                // button.parents("tr").remove();
                            },
                            error: function () {
                                bootbox.alert("Error occured");
                            }
                        });
                    }
                });
            });
        });
    </script>
}